@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin main-elem {
  //background: rgb(255,0,215);
  //background: linear-gradient(201deg, rgba(255,0,215,1) 0%, rgba(121,9,104,1) 33%, rgba(0,212,255,1) 100%);
  background: #45496d;
  //border-radius: 0.5rem;
  padding: 30px;
  margin-top: 4rem;
}

@mixin title {
  font-size: 2rem;
  padding-bottom: 4rem;
  font-weight: bold;
}

@mixin elem--bg {

}
