

.btn {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: $pink-color;
  border: 1px solid #ED39C0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 1.6rem;
  color: $main-elem;
  cursor: pointer;

  &:hover {
    background: #ce36a9;
  }
}

.new__expense--btn {
  margin: 1rem;
}

.history__btn,
.btn__summary,
.btn--save {
  padding: 0.4rem 2rem;
  border-radius: 0.3rem;
  margin-top: 4rem;
}

.summary__save {
  margin-bottom: 2rem;
}

.history__btn {
  margin: 0 0.5rem 0 0;
  font-size: 0.8rem;
}
