.dev {
  @include main-elem;
  @include center;
  flex-direction: column;
  color: $main-elem;
  margin-top: 4rem;
  background: #45496d;

  .dev__title {
    @include title;
    padding-bottom: 1rem;
  }

  .dev__desc {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .dev__column__container {
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-top: 2rem;


    .dev__column {
      font-size: 1.6rem;
      max-width: 12rem;
      border-radius: 0.6rem;
      background: white;
      height: 20rem;
      margin-bottom: 3rem;

      .dev__title__container {
        padding: 2.2rem 0;
        background: #161a42;
        border-radius: 0.6rem;
        color: white;

        .dev__column__title {
          padding-bottom: 1rem;
        }

        .investments {
          border-bottom: 2px solid #161a42;
        }
      }

      .dev__title__container--bg {
        background: $pink-color;
      }

      .dev__column__amount {
        display: inline-block;
        margin: 2.8rem 2rem;
        color: #45496d;
        line-height: 3rem;
      }
    }
  }
}
