.expenses {
  @include main-elem;
  @include center;
  flex-direction: column;
  color: $main-elem;
  margin-top: 4rem;

  .expenses__title {
    @include title;
  }

  .expenses__list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 1rem;
    width: 40rem;
    justify-content: center;
    align-items: center;

    .expense__elem {
      width: 60%;
      @include between;

      .expense__name {
        font-size: 1.5rem;
      }
    }
  }

  .expenses__amount {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.new__expense {
  @include center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 3rem 0;
  border: 2px solid $main-elem;
  border-radius: 1rem;


  .new__expense__container {
    @include between;
    gap: 1rem;
    padding: 0.8rem;
  }
}
