.header {
  background: $bg-color;
  height: 5rem;
  font-size: 1.7rem;
  color: white;
  margin-bottom: 4rem;
  border-radius: 0 0 0 4rem;
  border-bottom: 4px solid #C0C0C0;

  .header__container {
    @include between;
    height: 100%;

    .header__logo {
      font-size: 2.5rem;
    }

    .header__user {
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
}
