.header {
  background: #45496d;
  height: 5rem;
  font-size: 1.7rem;
  color: white;
  margin-bottom: 4rem;

  .header__container {
    @include between;
    height: 100%;

    .header__logo {
      font-size: 2.5rem;
    }

    .header__user__container {
      @include between;
      gap: 0.5rem;

      .nav__list {
        @include between;
        margin-right: 3rem;
        font-size: 1.2rem;

        .nav__link {
          color: white;
          padding: 0.6rem 1rem;
          list-style: none;
          text-decoration: none;

          &:hover {
            box-sizing: border-box;
            border-bottom: 3px solid $pink-color;
          }
        }
      }

      .header__user {
        font-size: 1.9rem;
        font-weight: bold;
        color: $pink-color;
      }
    }
  }
}
