@import "generic/reset";

@import "settings/mixins";
@import "settings/colors";
@import "settings/fonts";

@import "elements/header";
@import "elements/income";
@import "elements/expenses";
@import "elements/inputs";
@import "elements/buttons";
@import "elements/expansion";
@import "elements/footer";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: $bg-color;
  font-family: $main-font;

}

.container {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.logo {
  font-family: $font-logo;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.display {
  display: none;
}
